#main {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    width: 100%; /* 100% of the viewport width */
    padding: 2px;
    background-color: paleturquoise;
}

#lbImage {
    position: absolute;
    top: 25%;
    width: 99vw; /* 80% of the parent element's width */
    height: 50%; /* 80% of the viewport height */
    display: flex;
    justify-self: stretch;
    align-self: stretch;
    justify-content: center; /* Centers child elements horizontally */
    align-items: center; /* Centers child elements vertically */
    overflow: auto;
}

#prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* This centers the div vertically */
}

#next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); /* This centers the div vertically */
}

#play, #stop {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* This centers the div horizontally */
}

#play {
    bottom: 20px; /* Adjust as needed to position playDiv and stopDiv separately */
}

#stop {
    bottom: 0;
}

#lbTitleDiv {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* This centers the div horizontally */
}

#lbCounter {
    position: absolute;
    top: 0;
    left: 0;
}

div {
    
    border: grey 1px solid;
}